﻿@model LKW_Bursa_Transport.Models.Cursa

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('../../back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}
<h1>Stergere</h1>

<h3>Esti sigur ca vrei sa stergi aceasta cursa?</h3>
<div>
    <h4>Cursa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrasIncarcare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrasIncarcare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrasDescarcare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrasDescarcare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Km)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Km)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pret)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CursaID" />
        <input type="submit" value="Stergere" class="btn btn-danger" /> |
        <a asp-action="Index">Vezi toate cursele</a>
    </form>
</div>
