﻿@model LKW_Bursa_Transport.Models.Cursa

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('../../back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}

<h1>Detalii Cursa</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrasIncarcare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrasIncarcare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrasDescarcare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrasDescarcare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Km)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Km)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pret)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ruta)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Tara Incarcare</th>
                    <th>Tara Descarcare</th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Ruta.TaraIncarcare)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Ruta.TaraDescarcare)
                    </td>
                </tr>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Inapoi la curse</a>
</div>
