﻿@model LKW_Bursa_Transport.Models.Cursa

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('../../back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}S

<h1>Modifica</h1>

<h4>Cursa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CursaID" />
            <div class="form-group">
                <label asp-for="OrasIncarcare" class="control-label"></label>
                <input asp-for="OrasIncarcare" class="form-control" />
                <span asp-validation-for="OrasIncarcare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrasDescarcare" class="control-label"></label>
                <input asp-for="OrasDescarcare" class="form-control" />
                <span asp-validation-for="OrasDescarcare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Km" class="control-label"></label>
                <input asp-for="Km" class="form-control" />
                <span asp-validation-for="Km" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pret" class="control-label"></label>
                <input asp-for="Pret" class="form-control" />
                <span asp-validation-for="Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RutaID" class="control-label"></label>
                <select asp-for="RutaID" class="form-control" asp-items="ViewBag.RutaID"></select>
                <span asp-validation-for="RutaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salveaza" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vezi toate cursele</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
