﻿@model IEnumerable<LKW_Bursa_Transport.Models.Cursa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('../../back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrasIncarcare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrasDescarcare)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["KmSortParm"]">
                    @Html.DisplayNameFor(model => model.Km)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PretSortParm"]">
                    @Html.DisplayNameFor(model => model.Pret)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrasIncarcare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrasDescarcare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Km)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pret)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CursaID">Detalii</a>
                </td>
            </tr>
        }
    </tbody>
</table>
