﻿@model LKW_Bursa_Transport.Models.Contabilitate

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Contabilitate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cheltuieli)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cheltuieli)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Companie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Companie.NumeCompanie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
