﻿@model IEnumerable<LKW_Bursa_Transport.Models.Contabilitate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cheltuieli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Companie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Venit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cheltuieli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Companie.NumeCompanie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContabilitateID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContabilitateID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContabilitateID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
