﻿@model LKW_Bursa_Transport.Models.Ruta

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('../../back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}
<h1>Adauga ruta noua</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaraIncarcare" class="control-label"></label>
                <input asp-for="TaraIncarcare" class="form-control" />
                <span asp-validation-for="TaraIncarcare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaraDescarcare" class="control-label"></label>
                <input asp-for="TaraDescarcare" class="form-control" />
                <span asp-validation-for="TaraDescarcare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adauga" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Inapoi la lista de rute</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
