﻿@model LKW_Bursa_Transport.Models.Ruta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('../../back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}
<h1>Curse Disponibile</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaraIncarcare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaraIncarcare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaraDescarcare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaraDescarcare)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curse)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Oras Incarcare</th>
                    <th>Oras Descarcare</th>
                    <th>Km</th>
                    <th>Pret</th>
                </tr>
                @foreach (var item in Model.Curse)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrasIncarcare)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrasDescarcare)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Km)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pret)
                        </td>
                        <td>
                            <a asp-controller="Contabilitate" asp-action="AdaugaCursa" asp-route-id="@item.CursaID">Accepta Cursa</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Index">Inapoi la  rute</a>
</div>
