﻿@model IEnumerable<LKW_Bursa_Transport.Models.Ruta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('../../back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}

<p>
    <a asp-action="Create">Adauga ruta noua</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaraIncarcare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaraDescarcare)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaraIncarcare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaraDescarcare)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.RutaID">Vezi curse disponibile</a> |
                    <a asp-action="Delete" asp-route-id="@item.RutaID">Stergere</a>
                </td>
            </tr>
        }
    </tbody>
</table>
