﻿@model LKW_Bursa_Transport.Models.Camion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('../../back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}
<div>
    <h4>Camion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrInmatriculare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrInmatriculare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consum)
            (litri / 100 km)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consum)
            %
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disponibil)
        </dd>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Denumire Companie</th>
                    <th>Adresa</th>
                    <th>C.U.I. Companie</th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Companie.NumeCompanie)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Companie.AdresaCompanie)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Companie.CuiCompanie)
                    </td>
                </tr>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CamionID">Modifica</a> |
    <a asp-action="Index">Inapoi la lista de camioane</a>
</div>
