﻿@model IEnumerable<LKW_Bursa_Transport.Models.Camion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('../../back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        #blur {
            backdrop-filter: invert(.7);
        }
    </style>
}
<h1>Camioane</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NrSortOrd"]">
                    @Html.DisplayNameFor(model => model.NrInmatriculare)
                </a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ConsumSortParam"]">
                    @Html.DisplayNameFor(model => model.Consum)
                    (litri / 100 km)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NrInmatriculare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consum)
                    %
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponibil)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CamionID">Detalii</a> |
                    <a asp-action="Delete" asp-route-id="@item.CamionID">Stergere</a>
                </td>
            </tr>
        }
    </tbody>
</table>
