﻿@model LKW_Bursa_Transport.Areas.Identity.Data.ApplicationUser

@section head{
    <style type="text/css">
        body {
            background-image: url('back2.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        #container {
            display: flex; /* establish flex container */
            flex-direction: column; /* default value; can be omitted */
            flex-wrap: nowrap; /* default value; can be omitted */
            justify-content: space-between; /* switched from default (flex-start, see below) */
        }

        .blur {
            backdrop-filter: blur(5px);
        }
    </style>
}

<div id="container">
    <dl class="row blur">
        <dt class="col-sm-2">
            Detalii Companie
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Nume Companie</th>
                    <th>Adresa Companie</th>
                    <th>C.U.I. Companie</th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.NumeCompanie)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.AdresaCompanie)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CuiCompanie)
                    </td>
                </tr>
            </table>
        </dd>
    </dl>
</div>


<div id="container">
    <div>
        <h2>Bursa</h2>
        <p class="title">Comenzi in aceasta pagina:</p>
    </div>
    <div>
        <p>Marfuri:</p>
        <ul>
            <li><a asp-controller="Curse" asp-action="Create">Am marfa de transportat!</a></li>
            <li><a asp-controller="Rute">Caut marfa</a></li>
            
        </ul>
    </div>
    <div>
        <p>Camioane:</p>
        <ul>
            <li><a asp-controller="Camioane">Camioanele proprii</a></li>
            <li><a asp-controller="Camioane" asp-action="Create">Adauga Camion</a></li>
        </ul>
    </div>
    <div>
        <p>Piese:</p>
        <ul>
            <li><a asp-controller="Piese" asp-action="Create">Adauga Piesa</a></li>
            <li><a asp-controller="Piese">Piese disponibile</a></li>
        </ul>
    </div>
    <div>
        <p>Angajati:</p>
        <ul>
            <li><a asp-controller="Angajati" asp-action="Create">Angajeaza</a></li>
            <li><a asp-controller="Angajati">Angajatii Companiei</a></li>
        </ul>
    </div>
</div>



