﻿@model IEnumerable<LKW_Bursa_Transport.Models.Piesa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('../../back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}
<p>
    <a asp-action="Create">Achizitioneaza Piesa</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Gaseste dupa nume: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Cauta" class="btn btn-default" /> |
            <a asp-action="Index">Vezi toate piesele</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrPiesa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Denumire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pret)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrPiesa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PiesaID">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.PiesaID">Detalii</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
