﻿@model LKW_Bursa_Transport.Models.Angajat

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('../../back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}

<h1>Stergere</h1>

<h3>Esti sigur ca vrei sa-l concediezi?</h3>
<div>
    <h4>Angajat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Functie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Functie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vechime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vechime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salariu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salariu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disponibil)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AngajatID" />
        <input type="submit" value="Stergere" class="btn btn-danger" /> |
        <a asp-action="Index">Inapoi la lista cu angajati</a>
    </form>
</div>
