﻿@model LKW_Bursa_Transport.Models.Angajat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('../../back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}

<h1>Detaliii</h1>

<div>
    <h4>Angajat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Functie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Functie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vechime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vechime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salariu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salariu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disponibil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Companie)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Nume Companie</th>
                    <th>Adresa Companie</th>
                    <th>C.U.I. Companie</th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Companie.NumeCompanie)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Companie.AdresaCompanie)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Companie.CuiCompanie)
                    </td>
                </tr>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AngajatID">Modifica</a> |
    <a asp-action="Index">Inapoi la lista de angajati</a>
</div>
