﻿@model IEnumerable<LKW_Bursa_Transport.Models.Angajat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('../../back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}

<p>
    <a asp-action="Create">Angajeaza</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FunctieSortOrd"]">
                    @Html.DisplayNameFor(model => model.Functie)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vechime)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SalariuSortOrd"]">
                    @Html.DisplayNameFor(model => model.Salariu)
                </a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Functie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vechime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salariu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponibil)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AngajatID">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.AngajatID">Detalii</a> |
                    <a asp-action="Delete" asp-route-id="@item.AngajatID">Sterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>
